@model Book


<div class="row">
    <div class="col-md-3">
       
        @await Component.InvokeAsync("CategoryMenu")
    </div>
    <div class="col-md-9">
        <div class="card-body">
            <div class="row no-gutter">
                <div class="card mb-3">

                    <div class="col-md-3">
                        <img src="~/img/@Model.ImageUrl" alt="" class="card-img">

                    </div>
                    <div class="col-md-9">

                        <h5 class="card-title">
                            <a asp-action="Details" asp-controller="Home" asp-route-id="@Model.Id">@Model.Name</a>
                        </h5>
                        <h5 class="card-title">
                            @Model.Author
                        </h5>
                        <p class="card-text">
                            @Model.Description
                        </p>
                        <p class="card-text">
                            @Model.Pages
                        </p>
                        <p class="card-text">
                            <small class="text-muted">
                                3 days ago
                            </small>
                        </p>

                    </div>
                </div>



            </div>

        </div>

    </div>

</div>